*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFEFEF;
}
header{
    width: 60%;
    height: 160px;
    margin: auto;
    background-color: white;

}
header h1{
    text-align: center;
    color: #4B766B;
    font-family: "Garamond", "sans-serif";
    line-height: 100px;
    font-size: 42px;
}
header p{
    text-align: center;
    color: gray;
    font-family: "Garamond", "sans-serif";
    font-size: 18px;
    line-height: 10px;
}

header a{
    text-decoration: none;
    width: 60%;
    height: 160px;
}
#navbar{
    height:65px;
    width: 60%;
    margin: auto;
    background-color:#B5D3D2;
}   
/*NAVBAR*/
#navbar ul{
    margin: auto;
}
#navbar li{    
    position: relative;
    left: 8%;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    float:left;
    display: inline-block;
}

#navbar a{
    color: #4B766B;
    text-decoration: none;
}
#navbar p{
    color: #4B766B;
}

#navbaren{
    height:65px;
    width: 60%;
    margin: auto;
    background-color:#B5D3D2;
}

#navbaren ul{
    margin: auto;
}
#navbaren li{    
    position: relative;
    left: 12%;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    float:left;
    display: inline-block;
}

#navbaren a{
    color: #4B766B;
    text-decoration: none;
}
#navbaren p{
    color: #4B766B;
}

.navddcontent{
    display:none;
    margin-right: -40px;
    z-index: 1;
}
.dropdownnav:hover .navddcontent{
    padding:10px;
    background-color:#8fbcbb;
    display: block;
    line-height: 50px;
    border-radius: 20px;
    position: absolute;
}
/*END NAVBAR*/
#planeimg{
    width: 60%;
    margin: auto;
    height: 35vh;
    background-image: url("../Images/planeimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#content{
    width: 60%;
    height: 420px;
    position: relative;
    margin: auto;
    background-color: white;
}
#contentsub{
    width: 1000px;
    height: 830px;
    margin: auto;
     background-color: #EFEFEF;
}
#introductieopleiding{
	width: 450px;
	height: 370px;
	margin: 50px;
	background-color: white;
	float:left;
}
#introductieopleiding p{
	font-size: 28px;
	margin: 10px;
}
	
#informatieopleiding{
	width: 400px;
	height:480px;
	margin-top: 50px;
	margin-right: 30px;
	background-color: white;
	float: right;
}
#informatieopleiding p {
	font-size: 23px;
	display: inline-block;
	margin-left: 40px;
}
#informatieopleiding h2{
	color:gray;
	margin-left: 10px;
	margin-bottom: 8px;
	font-size: 25px;
	display: inline-block;
}
#informatieopleiding h1{
	text-align:center;
	color: #4B766B;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
	padding: 0;
	
}
#opbouwopleiding{
	width: 462px;
	height: 400px;
	margin: auto;
	margin-left: 50px;
	background-color: white;
	display: inline-block;
	
}
#jaarlinks h2{
	margin-bottom: 20px;
	display: inline-block;
	border-bottom: 1px solid gray;
	width:140px;
	padding-bottom:10px;
}

#tekstopbouw p[id^="Jaar-"]
{
    display: none;
}

#tekstopbouw p[id^="Jaar-"]:target
{
    display: inline-block;
	padding-left: 20px;
	font-size: 20px;
	float:right;
	padding-right:50px;
	width:250px;
	border-left:1px solid gray;
	height:349px;
	margin-top:-18px;
	
}

#content h3{
    color: #4B766B;
    font-family: "Garamond", "sans-serif";
    font-size: 28px;
    position:relative;
    left:50px;
    padding-top: 35px;
    padding-bottom: 70px;
}

#signupbtn{

    height: 60px;
    width: 320px;
    position: relative;
    left: 50px;
    bottom:30px;    
    background-color: #DF1C20;
    border-radius: 10px;    
}

#signupbtn a{
    position:relative;
    top:8px;
    padding-top:13px;
    padding-bottom:13px;
    padding-left: 20px;
    padding-right:10px;
    color: white;
    text-decoration: none;
    font-size:30px;
    font-family:"calibri", "sans-serif";
}
#signupbtn:hover{  
    background-color: #9f1416;
}
#signupbtn a:hover{
    color: #f2f2f2;
}
#pijltje {
    padding-top :7px;
}
#langflagpush {
    padding-left: 50px;
}

#BuiRaRRS{
    width:260px;
    height:400px;
    float:right;
}

#Contactform{
    width: 800px;
}
#Contactform textarea{
    resize: vertical;
    width:400px;
}