*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFEFEF;
}
header{
    width: 60%;
    height: 160px;
    margin: auto;
    background-color: white;

}
header h1{
    text-align: center;
    color: #4B766B;
    font-family: "Garamond", "sans-serif";
    line-height: 100px;
    font-size: 42px;
}
header p{
    text-align: center;
    color: gray;
    font-family: "Garamond", "sans-serif";
    font-size: 18px;
    line-height: 10px;
}

header a{
    text-decoration: none;
    width: 60%;
    height: 160px;
}
#navbar{
    height:65px;
    width: 60%;
    margin: auto;
    background-color:#B5D3D2;
}   

#navbar ul{
    margin: auto;
}
#navbar li{    
    position: relative;
    left: 8%;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    float:left;
    display: inline-block;
}

#navbar a{
    color: #4B766B;
    text-decoration: none;
}
#navbar p{
    color: #4B766B;
}

#navbaren{
    height:65px;
    width: 60%;
    margin: auto;
    background-color:#B5D3D2;
}

#navbaren ul{
    margin: auto;
}
#navbaren li{    
    position: relative;
    left: 12%;
    list-style-type: none;
    padding: 22px;
    font-size: 18px;
    float:left;
    display: inline-block;
}

#navbaren a{
    color: #4B766B;
    text-decoration: none;
}
#navbaren p{
    color: #4B766B;
}

.navddcontent{
    display:none;
    margin-right: -40px;
    z-index: 1;
}
.dropdownnav:hover .navddcontent{
    padding:10px;
    background-color:#8fbcbb;
    float:left;
    display: block;
    line-height: 50px;
    border-radius: 20px;
}

#planeimg{
    width: 60%;
    height: 305px;
    margin: auto;
    background-image: url("../Images/planeimg.png");
    background-repeat: no-repeat;
}

#content{
    width: 60%;
    height: 800px;
    position: relative;
    margin: auto;
    background-color: white;
}

#content h3{
    color: #4B766B;
    font-family: "Garamond", "sans-serif";
    font-size: 28px;
    position:relative;
    left:50px;
    line-height: 140px;
}

#signupbtn{

    height: 60px;
    width: 320px;
    position: relative;
    left: 50px;
    bottom:30px;    
    background-color: #DF1C20;
    border-radius: 10px;    
}

#signupbtn a{
    position:relative;
    top:8px;
    padding-top:13px;
    padding-bottom:13px;
    padding-left: 20px;
    padding-right:10px;
    color: white;
    text-decoration: none;
    font-size:30px;
    font-family:"calibri", "sans-serif";
}
#signupbtn:hover{  
    background-color: #9f1416;
 
#signupbtn a:hover{
    color: #f2f2f2;
}